*.out

*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
s3/terraform.tfstate
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
s3/.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

node_modules/
*.zip
s3/tfplan.out
plan.tfout

*.terraform/
*.tfstate